# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers eclipse
.project
!.prd/.project
.cproject
!.prd/.cproject
/.settings/
/.settings/*
*.xml
*.elf
*.map

# Ignorer tous les fichiers intermédiares de construction
*.o
*.a
*.so

*~
*.swp
*.swo
*.orig
/Debug/
/Release/

*.gpdsc

